#questionBuilderContainer {
    width: 100%;
    text-align: center;
    padding: 20px;
}
#resetJsonButton {
    float: right;
    /* position: absolute; */
    /* bottom: 20px; */
    /* right: 20px; */
}