#runnerContainer {
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.runnerItem {
    width: 100%;
}
.dragIcon {
    margin-right: 30px;
}
.disableDrag {
    color: #D9E2EC;
}
#toggleServicesButton {
    position: absolute;
    top: 15px;
    left: 15px;
}
.serviceItemDetails {
    justify-content: space-between;
    align-items: center;
}
#runnerButtons {
    display: flex;
    justify-content: space-evenly;
}